.example-spacer{
  flex: 1 1 auto;
}
.example-icon{
  padding:0 14px;
}
#logout img {
  height: 50px;
  width: 50px;
  border: 5px solid #000;
  border-radius: 50%;
}
#logo img{
  height: 50px;
  width: 100px;
}
mat-toolbar{
  font-family: Bad Script;
background: linear-gradient(to bottom, rgb(65, 63, 64), rgb(94, 91, 91), rgb(116, 113, 115)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
